.t1, #venue-container label:hover {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }

.t2, #venue-container label.active {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.t3, #button-font1 input[type=radio]:checked + label, #button-font2 input[type=radio]:checked + label, #button-font1 label:hover, #button-font2 label:hover {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.t6 {
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out; }

.t12 {
  -webkit-transition: all 1.2s ease-out;
  -moz-transition: all 1.2s ease-out;
  -ms-transition: all 1.2s ease-out;
  -o-transition: all 1.2s ease-out;
  transition: all 1.2s ease-out; }

.row {
  display: none; }

#button-font1, #button-font2 {
  font-size: 59px; }
  #button-font1 input[type=radio], #button-font2 input[type=radio] {
    display: none; }
    #button-font1 input[type=radio]:checked + label, #button-font2 input[type=radio]:checked + label {
      opacity: 1;
      filter: alpha(opacity=1); }
  #button-font1 label, #button-font2 label {
    background: #3cb4f8;
    border: none;
    cursor: pointer;
    display: block;
    float: left;
    width: 50%;
    opacity: 0.7;
    filter: alpha(opacity=0.7); }
    #button-font1 label:hover, #button-font2 label:hover {
      opacity: 1;
      filter: alpha(opacity=1); }
    #button-font1 label img, #button-font2 label img {
      display: block;
      height: 80px;
      display: block;
      margin-left: auto;
      margin-right: auto; }

#button-font1 label {
  background: #3cb4f8; }

#button-font2 label {
  background: #e73b3b;
  width: 25%; }

#venue-form {
  *zoom: 1;
  position: absolute;
  left: -5000px; }
  #venue-form:before, #venue-form:after {
    display: table;
    content: "";
    line-height: 0; }
  #venue-form:after {
    clear: both; }

#venue-container {
  overflow: hidden;
  background-color: white;
  color: black;
  text-align: center; }
  #venue-container h2 {
    margin-bottom: 10px;
    padding: 0 10px; }
  #venue-container input[type=checkbox] {
    display: none; }
  #venue-container input[type=submit] {
    display: block;
    width: 100%; }
  #venue-container label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    display: block;
    width: 90%;
    margin: 0 auto 5px;
    padding: 5px;
    border-top: none;
    background-color: #f1f1f1;
    color: black;
    cursor: pointer; }
    #venue-container label:hover {
      background-color: #e1e1e1; }
    #venue-container label.active {
      background-color: #4d90fe;
      color: white; }
      #venue-container label.active:hover {
        background-color: #3177eb; }

#start-button {
  margin: 12px 12px 10px 12px;
  width: 120px; }

#start-button.clicked:hover {
  background-color: #e42424; }

.map-container {
  position: relative;
  float: left;
  width: 65%;
  height: 1000px; }

.search-form {
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -180px;
  z-index: 5; }
