@import variables, mixins

#dialog
	background-color: rgba(48, 45, 45, 0.68)
	height: 400px
	left: 50%
	margin-left: -250px
	padding: 25px
	position: fixed
	width: 500px
	z-index: 200

	*
		text-align: left

	#top-left
		h1
			font-size: 2.6em

		#rating
			font-size: 1.2em

			span
				font-size: 2em
				color: $lightBlue

		#contact-info
			width: 110px

			p
				background-color: $lightBlue
				padding: 4px

				&:hover
					background-color: $darkBlue

				a
					color: white


	#top-right
		float: right
		position: absolute
		right: 0
		top: 0

		img
			width: 200px

	#reviews
		bottom: 0
		margin-top: 30px
		position: absolute

		.review

			display: inline-block

			.review-text
				font-style: oblique

			.author
				float: right


.locations-form
	display: block
	padding-top: 10px
	font-size: 0
	text-align: left
	input[type=submit]
		width: 100%

.location-container
	position: relative
	display: inline-block
	@media (min-width: 1300px)
		width: 20%
	@media (max-width: 1300px)
		width: 25%

.location-content
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	vertical-align: top
	width: 100%
	font-size: 16px
	cursor: pointer

	&:hover .location
		opacity: 1
		filter: none
		background-color: rgba(77, 144, 254, 0.4)

	img
		position: absolute
		z-index: -1
		width: 100%
		height: 100%

	input[type=checkbox]
		display: none

	.circular
		@include vendor(border-radius, 100px)

		height: 200px
		margin-left: auto
		margin-right: auto
		width: 200px

		img
			opacity: 0
			filter: alpha(opacity=0)

	label
		left: 0px
		position: absolute
		top: 0px


.location
	transition: opacity 0.2s
	box-sizing: border-box
	display: block
	height: 100%
	padding: 15px
	opacity: 0
	cursor: pointer

	&.active
		opacity: 1
		filter: none
		background-color: rgba(77, 144, 254, 0.4)

	h2
		font-size: 20px

.force-height
	padding-top: 100%
