@import variables, mixins

h1
	color: white

.tour
	@extend .t3

	background-color: #2B2B2B
	margin-bottom: 10px
	margin-left: auto
	margin-right: auto
	padding-bottom: 10px
	width: 800px

	img
		@extend .t3
		@include opaque(0.6)

		height: 100px
		margin-top: 1px
		margin-right: -4px
		width: 100px

	div
		display: inline-block
	
	#metadata
		display: block
		margin-top: 20px

	#link
		width: 100%

		button
			background-color: $lightBlue
			border: none
			color: white
			
			height: 34px
			line-height: 34px

			font-size: 20px

			margin-bottom: -2px

			margin-left: -5px
			margin-right: -5px

			position: relative
			width: 100%

			&:hover
				@extend .t3

				background-color: $darkBlue

			a
				color: white

	&:hover
		background-color: $gray

		img
			@include opaque(1.0)

// Stuff from yeah

.location-container
	position: relative
	display: inline-block
	width: 120px
	height: 120px

	padding: 10px

.location-content
	position: absolute

	bottom: 0
	left: 0
	right: 0
	vertical-align: top
	width: 100%
	font-size: 16px
	cursor: pointer

	.circular
		@include vendor(border-radius, 6px)

		border: 1px solid #333

		-webkit-transition: all 0.25s
		transition: all 0.25s
		
		height: 119px
		margin-left: auto
		margin-right: auto
		width: 118px

	&:hover > .circular
		opacity: 1
		filter: none
		box-shadow: 0 0 14px 4px rgb(77, 144, 254)
		-webkit-box-shadow: 0 0 14px 4px rgb(77, 144, 254)

		transform: translate(0, -2px)
		-webkit-transform: translate(0, -2px)
		-moz-transform: translate(0, -2px)
	&:hover > .location
		margin-top: -2px
		opacity: 1
		filter: none

	img
		position: absolute
		z-index: -1
		width: 100%
		height: 100%

	input[type=checkbox]
		display: none



		img
			opacity: 0
			filter: alpha(opacity=0)

	label
		left: 0px
		position: absolute
		top: 0px


.location
	@include vendor(border-radius, 6px)

	transition: opacity 0.2s
	box-sizing: border-box
	display: block

	opacity: 0
	cursor: pointer

	top: 0
	left: 0
	right: 0

	margin-left: auto
	margin-right: auto
	
	padding: 10px 0

	width: 118px
	height: 120px

	text-shadow: 0 1px 0 black

	background-color: rgba(77, 144, 254, 0.4)

	z-index: 1000

	&.active
		opacity: 1
		filter: none
		background-color: rgba(77, 144, 254, 0.4)

	h2
		font-size: 20px

.force-height
	padding-top: 100%