@import variables, mixins

.tour
	text-align: left

	img
		height: 100px
		margin-right: -4px
		width: 100px

	div
		display: inline-block

	#link
		width: 50%

		button
			background-color: $lightBlue
			border: none
			color: white
			margin-bottom: -2px
			position: relative
			width: 100%
