.t1 {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }

.t2 {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.t3, div button, div #finish, div #map-button, div #stops-button {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.t6 {
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out; }

.t12 {
  -webkit-transition: all 1.2s ease-out;
  -moz-transition: all 1.2s ease-out;
  -ms-transition: all 1.2s ease-out;
  -o-transition: all 1.2s ease-out;
  transition: all 1.2s ease-out; }

div button, div #finish, div #map-button, div #stops-button {
  border-style: none;
  color: white;
  cursor: pointer;
  font-size: 2em;
  height: 48px; }
div button {
  width: 50%; }
div #map-button {
  background-color: #3cb4f8; }
  div #map-button:hover {
    background-color: #3177eb; }
  div #map-button button {
    width: 100%; }
div #stops-button {
  background-color: #3cb4f8; }
  div #stops-button:hover {
    background-color: #3177eb; }
  div #stops-button button {
    width: 100%; }
div #rate-up {
  background-color: #33d633; }
  div #rate-up:hover {
    background-color: #00a000; }
div #rate-down {
  background-color: #dd4b39; }
  div #rate-down:hover {
    background-color: #e42810; }
div #finish {
  background-color: #3cb4f8; }
  div #finish:hover {
    background-color: #3177eb; }
  div #finish a {
    color: white;
    display: inline-block;
    width: 100%;
    text-decoration: none; }
