/*
 * Element
*/

body { 
	margin:0 auto;
	width:60%;
	position:relative;
	text-align:center;
}

/*
 * Class
*/

img.background {
	height: auto;
	left: 0;
	min-height: 100%;
	min-width: 1024px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index:-1;
}

/*
 * ID
*/

#title {
	font-family:Helvetica;
	font-weight:bold;
	font-size:10em;
	letter-spacing:0.1em;
	color:white;
}

/*
 * Miscellaneous
*/

@media screen and (max-width: 1024px){
	img.background {
		left: 50%;
		margin-left: -512px; }
}
