= extends "layout.html"

= block title
	About
= endblock

= block head
	{{ helpers.asset_tag("about.css") }}
	{{ helpers.asset_tag("smooth-scroll.js") }}
= endblock

= block body
	<div id="about_menu">
		<ul>
			<li>
				<a data-scroll href="#about_1">What's tour-de-city?</a>
			</li>

			<li>
				<a data-scroll href="#about_2">How do I use it?</a>
			</li>

			<li>
				<a data-scroll href="#about_3">About us</a>
			</li>
		</ul>
	</div>
	<div id="about_content">
		<h1><i>@about</i></h1>
		<br><hr><br>

		<h2 id="about_1"> What's tour-de-city?</h2><br>
		<p>
		  We think you're smart. We've been told that makes us radical, crazy people. Don't worry, you won't find to many of us. We not here to sell you more junk tourism help. We know you'd rather spend your money on enjoying your vacation. Tour De City is here to empower you to explore NYC for youself. Tell us what you want to see and we'll make it happen. Literally. If we don't have a tour built and displayed for you within 30 seconds you'll get your money back. All 0 dollars and 0 cents of it. We know, we're generous too.
		</p>

		<h2 id="about_2"> How do I use it?</h2><br>
		<p>
		  Select 'custom tour' and build your own tour by selecting local venues you'd like to visit. We'll packadge them together into a tour that not only minimizes your walking time (we know that's your favorite features, its our too), but also includes a map and detailed directions for your tour.
		  <br> <br>

		  Select 'pre-made tour' and take a tour that has already been tried by another user. We'll rank the tours based on user-ratings so you know which routes are the most popular.  <br> <br>
		  Share your tour on social media and make all your friends jealous!
		</p>

		<h2 id="about_3"> About us</h2><br>
		<p>
		With over 50 million visitors annually, New York City is the #1 tourism destination in the US and one of the 
		top 5 in the world. Tourists can travel independently, a difficult process, or pay expensive rates for tour guides/groups. 
		These options are detrimental to the environment because they either involve private vehicles or gas-guzzling buses. 
		Tour-De-City provides tourists with easily accessible bikes from local bike sharing locations, prepackaged and 
		coordinated tours of New York’s most popular attractions and hidden gems. Our mission is to reduce the environmental footprint of the tourism industry, increase tourism revenue for local tourist attractions, and creating a fun, memorable experience. 

		</p>
	</div>
	<script>
		smoothScroll.init();
	</script>
= endblock
