= extends "layout.html"

= block title
	About
= endblock

= block head
	{{ helpers.asset_tag("about.css") }}
	{{ helpers.asset_tag("smooth-scroll.js") }}
= endblock

= block body
	<div id="about_menu">
		<ul>
			<li>
				<a data-scroll href="#about_1">What's tour-de-city?</a>
			</li>

			<li>
				<a data-scroll href="#about_2">How do I use it?</a>
			</li>

			<li>
				<a data-scroll href="#about_3">About us</a>
			</li>
		</ul>
	</div>
	<div id="about_content">
		<h1><i>@about</i></h1>
		<br><hr><br>

		<h2 id="about_1">// What's tour-de-city?</h2><br>
		<p>
			Lorem ipsizzle boofron brizzle amizzle, consectetuer adipiscing elit.
			Nullam mofo velizzle, bow wow wow volutpat, suscipit quis, rizzle vel,
			shizznit. Pellentesque eget izzle. Sed you son of a bizzle. Fusce bling
			bling dolor get down get down fizzle own yo' crackalackin. Maurizzle
			pellentesque mammasay mammasa mamma oo sa izzle turpizzle. Boom
			suscipizzle. Integer semper boom shackalack you son of a bizzle shizznit.
		</p>

		<h2 id="about_2">// How do I use it?</h2><br>
		<p>
			Dope mofo turpis ut leo shiz fizzle. Vivamizzle my shizz we gonna chung
			mofo fo shizzle mah nizzle fo rizzle, mah home g-dizzle. Quisque
			pellentesque mammasay mammasa mamma oo sa izzle turpizzle. Boom
			shackalack izzle tortizzle. Pellentesque eleifend fo shizzle phat. In hac
			habitasse platea izzle. Doggy dapibizzle. Curabitur tellizzle fo shizzle
			my nizzle, pretium sheezy, mattizzle ac, things , nunc. Crunk
			suscipizzle. Integer semper boom shackalack you son of a bizzle shizznit.
		</p>

		<h2 id="about_3">// About us</h2><br>
		<p>
			bling dolor get down get down fizzle own yo' crackalackin. Maurizzle
			pellentesque mammasay mammasa mamma oo sa izzle turpizzle. Boom
			shackalack izzle tortizzle. Pellentesque eleifend fo shizzle phat. In hac
			habitasse platea izzle. Doggy dapibizzle. Curabitur tellizzle fo shizzle
			my nizzle, pretium sheezy, mattizzle ac, things , nunc. Crunk
			suscipizzle. Integer semper boom shackalack you son of a bizzle shizznit.
			Lorem ipsizzle boofron brizzle amizzle, consectetuer adipiscing elit.
			Nullam mofo velizzle, bow wow wow volutpat, suscipit quis, rizzle vel,
			shizznit. Pellentesque eget izzle. Sed you son of a bizzle. Fusce bling
			bling dolor get down get down fizzle own yo' crackalackin. Maurizzle
			pellentesque mammasay mammasa mamma oo sa izzle turpizzle. Boom
			shackalack izzle tortizzle. Pellentesque eleifend fo shizzle phat. In hac
			habitasse platea izzle. Doggy dapibizzle. Curabitur tellizzle fo shizzle
			my nizzle, pretium sheezy, mattizzle ac, things , nunc. Crunk
			suscipizzle. Integer semper boom shackalack you son of a bizzle shizznit.
		</p>

	</div>
	<script>
		smoothScroll.init();
	</script>
= endblock
