= extends 'layout.html'
= block title
	Home
= endblock
= block head
	{{ helpers.asset_tag('maps.locationpicker.js') }}
	<script>
		$(window).load(function() {
			$('.map-container').css('height', $('.venue-container').outerHeight());
			$('#venue-form input[type=checkbox]').change(function() {
				$(this).parent().toggleClass('active', this.checked);
			});
			locationPicker($('iframe')[0]);
		})
	</script>
= endblock
= block body
	<h1>Welcome</h1>
	<h2>Select your Location</h2>
	<form action="/" id="venue-form" method="POST">
		<div class="map-container">
			<div class="search-form">
				<input class="search-text" type="text" value=""><a class="search-button">Search</a>
			</div>
			<input type="hidden" name="latitude" value="40.7143528"/>
			<input type="hidden" name="longitude" value="-74.0059731"/>
			<iframe height="100%" width="100%" frameborder="0" scrolling="no" src="/map"></iframe>
		</div>
		<div class="venue-container">
			<h2>What type of venues would you like to visit?</h2>
			<label><input type="checkbox" name="tour" value="amusement_park">Amusement Park</label>
			<label><input type="checkbox" name="tour" value="aquarium">Aquarium</label>
			<label><input type="checkbox" name="tour" value="art_gallery">Art Gallery</label>
			<label><input type="checkbox" name="tour" value="bowling_alley">Bowling Alley</label>
			<label><input type="checkbox" name="tour" value="cafe">Cafe</label>
			<label><input type="checkbox" name="tour" value="city_hall">City Hall</label>
			<label><input type="checkbox" name="tour" value="establishment">Establishment</label>
			<label><input type="checkbox" name="tour" value="library">Library</label>
			<label><input type="checkbox" name="tour" value="museum">Museum</label>
			<label><input type="checkbox" name="tour" value="night_club">Night Club</label>
			<label><input type="checkbox" name="tour" value="park">Park</label>
			<label><input type="checkbox" name="tour" value="restaurant">Restaurant</label>
			<label><input type="checkbox" name="tour" value="shopping_mall">Shopping Mall</label>
			<label><input type="checkbox" name="tour" value="store">Store</label>
			<label><input type="checkbox" name="tour" value="stadium">Stadium</label>
			<input type="submit" value="Submit" name="button" />
		</div>
	</form>
= endblock
