= extends "layout.html"

= block title
	Home
= endblock

= block head
{{ helpers.asset_tag('jquery-1.7.2.min.js') }}
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
{{ helpers.asset_tag('jquery-gmaps-latlon-picker.css') }}
{{ helpers.asset_tag('jquery-gmaps-latlon-picker.js') }}
= endblock

= block body
<p id="title">welcome</p>
<h2>Select your Location</h2>
<form>
    <fieldset class="gllpLatlonPicker" id="custom_id">
        <input type="text" class="gllpSearchField">
        <input type="button" class="gllpSearchButton" value="search">
        <br/><br/>
        <div class="gllpMap">Google Maps</div>
        <input type="hidden" class="gllpLatitude" value="40.7143528"/>
        <input type="hidden" class="gllpLongitude" value="-74.0059731"/>
        <input type="hidden" class="gllpZoom" value="12"/>
    </fieldset>
</form>
= endblock
