<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			= block title
			= endblock
		</title>
		{{ helpers.asset_tag('application.css') }}
		{{ helpers.asset_tag('jquery.js') }}
		= block head
		= endblock
	</head>
	<body>
		<div class="header">
			<div class="header-content content">
				<a class="logo" href={{ url_for('index') }}>
					<img src={{ url_for('static', filename='images/map_icon_white.png') }}>
					<h1>TOURS</h1>
				</a>
			</div>
		</div>
		<div class="main-container">
			<div class="main-content content">
				= block body
					<h1>Page not found.</h1>
				= endblock
				= block main_content
				= endblock
			</div>
			= block main_container
			= endblock
		</div>
	</body>
</html>
