<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			= block title
			= endblock
		</title>
		{{ helpers.asset_tag('app.css') }}
		{{ helpers.asset_tag('jquery.js') }}
		{{ helpers.asset_tag('jquery.simplemodal-1.4.4.js') }}
		{{ helpers.asset_tag('jquery.ui.dialog.js') }}

		= block head
		= endblock
	</head>
	<body>
		<div id="socialMediaIcons">
			<script src="/static/js/socialmedia.js"></script>
			<img onclick="facebookClick()" id="facebook" class="t3"
				src={{ url_for("static", filename="images/socMedIcos/facebook.png") }}><br>
			<img onclick="twitterClick()"  id="twitter" class="t3"
				src={{ url_for("static", filename="images/socMedIcos/twitter.png")}}><br>
			<img onclick="googlePlusClick()" id="googlePlus" class="t3"
				src={{ url_for("static", filename="images/socMedIcos/googlePlus.png")}}><br>
			<img onclick="tumblrClick()" id="tumblr" class="t3"
				src={{ url_for("static", filename="images/socMedIcos/tumblr.png")}}><br>
		</div>
		<div class="header">
			<div class="header-content content">
				<a class="logo" href={{ url_for('index') }}>
					<img src={{ url_for('static', filename='images/map_icon_white.png') }}>
					<h1>TOURS</h1>
				</a>
			</div>
		</div>
		<div class="main-container">
			<div class="main-content content">
				= block body
					<h1>Page not found.</h1>
				= endblock
			</div>
		</div>
		<footer>
			<div>
				Content to be added!
			</div>
		</footer>
	</body>
</html>
