<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>
			= block title
			= endblock
		</title>
		{{ helpers.asset_tag('application.css') }}
		{{ helpers.asset_tag('jquery.js') }}
		= block head
		= endblock
	</head>
	<body>
		<div class="header">
			<div class="header-content">
				<a href={{ url_for('index') }}>
					<span class="logo">
						<img src={{ url_for('static', filename='images/map_icon_white.png') }}>
						<h1>TOURS</h1>
					</span>
				</a>
			</div>
		</div>
	</body>
</html>
