= extends "layout.html"

= block title
	Chose Locations
= endblock

= block body

<h2> Select where you would like to stop during your tour </h2>
<form  method = "POST">
<table>
   <tr>
      <td>
	<div id = "checkboxes1">
	</div>
      </td>
      <td>
	<div id = "checkboxes2">
	</div>     
      </td>
      <td>
	<div id = "checkboxes3">
	</div>      
      </td>
   </tr>
</table>


<div>
<input type="submit" value="Submit" name = "button" /> 
</div>

</form>

<script type="text/javascript">

var loc = JSON.parse({{locs|tojson|safe}});

for (var i = 0; i < loc.length; i++) {

if (i%3 == 0) {
var myDiv = document.getElementById("checkboxes1");}
if (i%3 == 1) {
var myDiv = document.getElementById("checkboxes2");}
if (i%3 == 2) {
var myDiv = document.getElementById("checkboxes3");}
		    
var checkbox = document.createElement("input"); 
checkbox.setAttribute("type", "checkbox" );
checkbox.setAttribute("name", "place");
checkbox.setAttribute("value", loc [i][1]);
myDiv.appendChild(checkbox); 

s = loc [i][0];
var text = document.createTextNode (s)
myDiv.appendChild(text); 
myDiv.appendChild(document.createElement("br"));

s = loc[i][1];
var text = document.createTextNode (s)
myDiv.appendChild(text); 
myDiv.appendChild(document.createElement("br"));

s = "     Rating: " + loc[i][2];
var text = document.createTextNode (s)
myDiv.appendChild(text); 
myDiv.appendChild(document.createElement("br"));

myDiv.appendChild(document.createElement("br"));
var img = document.createElement("IMG");
img.src = loc[i][3];
img.style.height = "250px";
img.style.width = "250px";
myDiv.appendChild(img);
myDiv.appendChild(document.createElement("br"));
myDiv.appendChild(document.createElement("br"));

}
</script>

= endblock

