= extends "layout.html"
= block title
	Choose Locations
= endblock
= block head
	<!--{{ helpers.asset_tag('style.css') }}-->
	<style>
		.locations {
			display: block;
			font-size: 0;
		}
		.location-container {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 225px;
			height: 225px;
			font-size: 16px;
			cursor: pointer;
		}
		.location-container:hover .location, .location.active {
			opacity: 1;
			filter:none;
			background-color: rgba(77, 144, 254, 0.4);
		}

		.location-container img {
			position: absolute;
			z-index: -1;
			width: 100%;
			height: 100%;
		}

		.location-container input[type=checkbox] {
			display: none;
		}
		.location {
			transition: opacity 0.2s;
			box-sizing: border-box;
			display: block;
			height: 100%;
			padding: 15px;
			opacity: 0;
			cursor: pointer;
		}

        .search-text, .search-button{
        display: inline-block
        vertical-align: middle
    }

        .search-text{
        width: 225px
        border: none
        border: 1px solid white
        &:focus
        border-color: #4D90FE
        outline: none
    }

        .search-button{
        background-color: #4D90FE
        border: 1px solid #4D90FE
        color: #FFF
        font-family: sans-serif
        cursor: pointer
    }

        .search-button:focus{
        outline: none
    }
	</style>

	<script>
		$(document).ready(function(){
			$('.location input[type=checkbox]').change(function() {
				$(this).parent().toggleClass('active', this.checked);
			});
		});
	</script>
= endblock
= block body

<h2>Select where you would like to stop during your tour</h2>
= if locs
	<form class="locations" method="POST">
		= for loc in locs
			<div class="location-container">
				<img src="{{ loc[3] }}">
				<label class="location">
					<h2>{{ loc[0] }}</h2>
					<p>{{ loc[1] }}</p>
					<p>Rating: {{ loc[2] }}</p>
					<input id="checkboxDivInput" type="checkbox" name="place" value="{{ loc[1] }}">
				</label>
			</div>
		= endfor
		<input type="submit" class="search-button" value="Submit" name="button" />
	</form>
= endif

<!--
<h2>Select where you would like to stop during your tour</h2>
<form method="POST">
    <table>
        <tr VALIGN=TOP>
            <td>
                <div id="checkboxes1">
                </div>
            </td>
            <td>
                <div id="checkboxes2">
                </div>
            </td>
            <td>
                <div id="checkboxes3">
                </div>
            </td>
        </tr>
    </table>

    <div>
        <input type="submit" value="Submit" name="button" />
    </div>

</form>

<script type="text/javascript">
var loc = JSON.parse('{{locs | tojson | safe}}');

for (var i = 0; i < loc.length; i++) {

    if (i % 3 == 0) {
        var myDiv = document.getElementById("checkboxes1");
    }

    if (i % 3 == 1) {
        var myDiv = document.getElementById("checkboxes2");
    }

    if (i % 3 == 2) {
        var myDiv = document.getElementById("checkboxes3");
    }


    var itemDiv = document.createElement("div");
    itemDiv.setAttribute("class", "item");
    var textDiv = document.createElement("div");
    textDiv.setAttribute("class", "text");

    s = loc[i][0];
    var nameDiv = document.createElement("div");
    nameDiv.setAttribute("class", "itemName");
    var text = document.createTextNode(s)
    nameDiv.appendChild(text);
    textDiv.appendChild(nameDiv);

    s = loc[i][1];
    var text = document.createTextNode(s)
    textDiv.appendChild(text);
    textDiv.appendChild(document.createElement("br"));

    s = "     Rating: " + loc[i][2];
    var text = document.createTextNode(s)
    textDiv.appendChild(text);
    textDiv.appendChild(document.createElement("br"));

    var checkboxDiv = document.createElement("div");
    checkboxDiv.setAttribute("class", "checkboxDiv");
    var checkbox = document.createElement("input");
    checkbox.setAttribute("id", "checkboxDivInput");
    checkbox.setAttribute("type", "checkbox");
    checkbox.setAttribute("name", "place");
    checkbox.setAttribute("value", loc[i][1]);
    var label = document.createElement("label");
    label.setAttribute("for", "checkboxDivInput");

    checkboxDiv.appendChild(checkbox);
    checkboxDiv.appendChild(label);
    textDiv.appendChild(checkboxDiv);


    var img = document.createElement("IMG");
    img.src = loc[i][3];
    img.style.height = "250px";
    img.style.width = "250px";
    itemDiv.appendChild(img);

    itemDiv.appendChild(textDiv);
    myDiv.appendChild(itemDiv);
}
</script>
-->
= endblock
