= extends "layout.html"

= block title
Choose Locations
= endblock

= block head
	{{ helpers.asset_tag("make_tour.css") }}
= endblock

= block body

	<script>
		var numLocs = {{ locLen }};
		var locs = {{ locs | tojson | safe }}
	</script>

	{{ helpers.asset_tag("make_tour.js") }}

	<h2 style="padding-top: 10px;">Select where you would like to stop during your tour (up to 3)</h2>

	= if locs

		<form class="locations-form" method="POST">

			= for loc in locs
				<div class="location-container">
					<div class="force-height"></div>
					<div class="location-content", id ={{loc[4]}} >
						<div class="circular"
							style="background: url({{ loc[3]}}) no-repeat; background-size: 200px 200px;">
							<!--<img src="{{ loc[3] }}">-->
						</div>
						<label class="location", id = {{loc[7]}}>
							<h2>{{ loc[0] }}</h2>
							<p>{{ loc[1] }}</p>
							<p>Rating: {{ loc[11] }}</p>
							<input type="checkbox" name="place" value="{{ loc[1] }}"
								id = "{{loc[6]}}" class = "chkbox">
						</label>
					</div>
				</div>
			= endfor

			<input type="submit" class="button" value="Submit" name="button" />
		</form>

	= else

		<p style="padding: 5px 0 10px;"> No locations found.</p>

	= endif

= endblock
