= extends "layout.html"

= block title
	Chose Locations
= endblock

= block body

<h2> Select where you would like to stop during your tour </h2>
<form  method = "POST">
<div id = "checkboxes">
</div>

<div>
<input type="submit" value="Submit" name = "button" /> 
</div>

</form>



<script type="text/javascript">

var loc = JSON.parse({{locs|tojson|safe}});
var myDiv = document.getElementById("checkboxes");

for (var i = 0; i < loc.length; i++) {
var checkbox = document.createElement("input"); 
checkbox.setAttribute("type", "checkbox" );
checkbox.setAttribute("name", "place");
checkbox.setAttribute("value", loc [i][1]);
myDiv.appendChild(checkbox); 

s = "Name: " + loc [i][0];
var text = document.createTextNode (s)
myDiv.appendChild(text); 
myDiv.appendChild(document.createElement("br"));

s = "     Address: " + loc[i][1];
var text = document.createTextNode (s)
myDiv.appendChild(text); 
myDiv.appendChild(document.createElement("br"));

s = "     Rating(1-5): " + loc[i][2];
var text = document.createTextNode (s)
myDiv.appendChild(text); 
myDiv.appendChild(document.createElement("br"));

var img = document.createElement("IMG");
img.src = loc[i][3];
img.style.height = "250px";
img.style.width = "250px";
img.align = "right";
myDiv.appendChild(img);
myDiv.appendChild(document.createElement("br"));

}
</script>

= endblock

