= extends 'layout.html'

= block title
	premade tours
= endblock

= block head
	{{ helpers.asset_tag("premade_tours.css") }}
= endblock

= block body
	<h1>//highest rated tours</h1>
	= for tour in highest_ranked_tours
		<div class="tour">
			<div id="link">
				<button>
					<a href="/tour={{ tour['_id'] }}">Please Press Here to Generate Premade Tour</a>
				</button>
			</div><br>
				= for img_src in tour["loc_images"]
					<div>
					//	<img src="{{ img_src }}">]
						<br> <br>
					</div>
				= endfor

				= for name in tour["loc_names"]
					<div>
						<p> "{{ name }}" </p>
					</div>
				= endfor
		</div>
	= endfor
= endblock
