= extends 'layout.html'
= block title
	Rate Your Tour
= endblock
= block body

<h1>Thank you for taking our tour!</h1>
<br>
<div> <!-- make this a translucent box or something -->
* 
  = for wayp in waypoints
   &nbsp; &nbsp; {{wayp[0]}} &nbsp; &nbsp; *
  = endfor
  <br>
  <br>
  = for wayp in waypoints
  &nbsp; &nbsp; &nbsp; &nbsp;
  <img src="{{wayp[1]}}" width="100" height="100"/>
  = endfor
</div>
<br>
<h2>Did you enjoy enjoy your tour? Rate it here:</h2>
<br>
<br>

<b><ul style="display: in-line; font-size: x-large;">
  <a href="/rate/1">*</a> &nbsp;
  <a href="/rate/2">*</a> &nbsp;
  <a href="/rate/3">*</a> &nbsp;
  <a href="/rate/4">*</a> &nbsp;
  <a href="/rate/5">*</a>
</ul></b>  

<br>
<br>

= endblock